body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

button{
  background-color: rgb(78, 75, 75);
  color: white;
  font-size: 100%;
  font-weight: bold;
  margin-top: 20%;
  margin-left:42% ;
  /* height: 25%; */
  width: 22%;
  border-radius: 5%;
  border: 4px solid orangered;

}
button:hover{
    background-color: rgb(175, 172, 172);
    border: 4px solid rgb(46, 6, 6);
    
}